.formulario{
    background-color: white;
    margin-top: 5rem;
    border-radius: 20px;
    height: 80vh;
}
.caja{
    background-image: linear-gradient(to right top, #4e88e0, #2d75ea, #195ff0, #2b44f0, #4b12eb);
    height: 100vh;
}
.ovalado{
    border-radius: 15px;
}